/* Reset and base styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    margin: 20px 0;
}

/* Navbar styles */
.navbar {
    margin-bottom: 20px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: bold;
}

/* Container styles */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Filter container */
.filter-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

.filter-group {
    display: flex;
    flex-direction: column;
}

.filter {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    margin: 5px;
    min-width: 150px;
    flex: 1;
}

#chartContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#chart {
    width: 100%;
    height: 100%;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Drill-down and exit drill-down buttons */
.drill-down-button, .exit-drilldown-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.drill-down-button:hover, .exit-drilldown-button:hover {
    background-color: #0056b3;
}

.exit-drilldown-button {
    display: none;
    background-color: #dc3545;
}

.exit-drilldown-button:hover {
    background-color: #c82333;
}

/* Button styles */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Dark mode */
.dark-mode {
    background-color: #343a40;
    color: #ffffff;
}

.dark-mode .container {
    background-color: #444;
    color: #ffffff;
}

.dark-mode .navbar {
    background-color: #555;
    color: #ffffff;
}

.dark-mode .navbar-brand, .dark-mode .nav-link {
    color: #ffffff;
}

.dark-mode .btn-secondary {
    background-color: #4b4b4b;
    border-color: #4b4b4b;
}
